@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome to Pet Clinic</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <img src="~/images/pets.png" alt="Pets" class="img-fluid mb-4" style="max-width: 600px;">
            <p class="lead">Your trusted partner in pet care</p>
        </div>
    </div>
</div>
